$base-line-height : 24px;
$spin-duration : .7s;
@keyframes spin {
  0% {
    transform : rotate(0deg);
  }
  100% {
    transform : rotate(360deg);
  }
}

.loading {
  display : inline-block;
  width : $base-line-height;
  height : $base-line-height;
  margin-top: 3px;
  margin-left: 7px;
  animation : spin $spin-duration infinite linear;
  border : .25rem solid $lighter-gray;
  border-top-color : $orange;
  border-radius : 50%;
}
