.logo__fnac-plus {
  display : inline-block;
  width : 80px;
  height : 19px;
  text-indent : -9999px;
  background: url('../../public/images/logo-fnacplus.png');
  background-size : 80px;
  margin-bottom: 10px;
}
