@import "../_variables";

// <span class="stars">
//   <span class="stars__active"></span>
// </span>

.stars {
  position : relative;
  display : inline-block;
  width : 80px;
  height : 20px;
  font-family : "icomoon" !important;
  color : #989898;
}

.stars:before {
  content : "\E60E\E60E\E60E\E60E\E60E";
  color : $medium-gray;
}

.stars__active {
  position : absolute;
  left : 0;
  top: 0;
}

.stars__active:before {
  position : absolute;
  left : 0;
  overflow : hidden;
  width : 100%;
  height : 20px;
  content : "\E60E\E60E\E60E\E60E\E60E";
  color : $blue;
}
