@import '../_variables';

.tooltip {
  max-width: 300px;
  padding: 15px !important;
  border-left: 5px solid $cyan;
  border-radius: 0 !important;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
  font-size: 13px;
  opacity: 1 !important;
}

.tippy-popper {
  pointer-events: inherit !important;
}

.tippy-tooltip,
.tippy-popper .tippy-tooltip.light-theme {
  max-width: 300px;
  padding: 15px !important;
  border-left: 5px solid $cyan;
  border-radius: 0 !important;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2) !important;
  font-size: 13px;
  text-align: left;
}
