.error {
  color: red;
  margin: 5px 0 10px 0;
}

input {
  position: relative;
  z-index: 1;
  height: auto;
  padding: 7px 15px 2px 0;
  border: 0;
  border-bottom: 1px solid #d8d8d8;
  background-color: transparent;
  border-radius: 0;
  color: #232323;
  font-size: 16px;
  line-height: 22px;
}

button {
  color: white;
  display: block;
  width: 500px;
  height: auto;
  padding: 8px 16px;
  margin-bottom: 16px;
  background: #232323;
  outline: none;
}

label {
  margin-right: 20px;
  color: #232323;
}
