@keyframes button-load {
  0%{
    width: 0%
  }
  30%{
    width: 95%
  }
  100%{
    width: 100%
  }
}

@mixin animateButton($fontColor, $color){
  min-width: 90px;
  .button__content{
    z-index: 1;
    position: relative;
  }
  .button__loader{
    position: absolute;
    background: lighten($color, 20%);
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0
  }
  &.isDisabled {
    background: lighten($medium-gray, 10%);
    border-color: $medium-gray;
    overflow: visible;
    position: relative;
    cursor: default;
    &:hover, &:focus{
      background: lighten($medium-gray, 5%);
      border-color: $medium-gray;
    }
  }
  &.isLoading{
    border-color: lighten($color, 20%);
  }
  &.isAnimating{
    .button__content{
      color: white;
    }
    .button__loader{
      opacity: 1;
      animation: button-load 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      -webkit-transition: all $base-duration;
      transition: all $base-duration;
    }
  }
}
