@import '../variables';

@mixin outer__block($hasMargin) {
  @if $hasMargin {
    margin-bottom: $base-desktop-padding / 2;
  }

 @else {
    margin-bottom: $base-desktop-padding;
  }

  padding: $base-padding;

  @media (min-width: $large-screen) {
    @if $hasMargin {
      margin-bottom: $base-desktop-padding / 3;
    }

 @else {
      margin-bottom: $base-desktop-padding;
    }

    padding: $base-desktop-padding;
  }
}

@mixin outer__block--low($hasMargin) {
  @if $hasMargin {
    margin-bottom: $base-desktop-padding / 2;
  }

 @else {
    margin-bottom: $base-desktop-padding;
  }

  padding: $base-padding;

  @media (min-width: $large-screen) {
    @if $hasMargin {
      margin-bottom: $base-desktop-padding / 3;
    }

 @else {
      margin-bottom: $base-desktop-padding;
    }

    padding: $base-desktop-padding / 2 $base-desktop-padding;
  }
}

// margin padding
@mixin inner__block {
  padding: $base-padding;

  @media (min-width: $large-screen) {
    padding: $base-desktop-padding;
  }
}

// only margin bottom
@mixin main__container {
  margin-bottom: $base-padding;

  @media (min-width: $large-screen) {
    margin-bottom: $base-desktop-padding;
  }
}

@mixin shadow__block {
  box-shadow: 0 1px 3px 0 #e6ebf1;
}
