@mixin reset-button{
  background: none;
  line-height: 20px;
  height: 20px;
  color: $dark-gray;
  &:hover, &:visited, &:active, &:focus {
    background: none;
    outline: none;
    color: lighten($base-font-color, 40%);
  }
}
