@import "../../stylesheets/_base-pure";

.modal__overlay {
  position : fixed;
  z-index : 1000;
  top : 0;
  right : 0;
  bottom : 0;
  left : 0;
  text-align: center;
  @media(max-width: $large-screen) {
    overflow-y : auto;
    background-color : $medium-gray;
  }
  @media(max-width: $medium-screen) {
    overflow-y : auto;
    background-color : $medium-gray;
  }
  @media(min-width: $medium-screen) {
    background-color : rgba(11, 11, 11, .8);
  }
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.modal__content {
  width: 100%;
  position : relative;
  max-width : 1000px;
  margin : 0 auto;
  padding : 50px 0 0;
  border : 0;
  border-radius : 0;
  outline : none;
  background : rgb(255, 255, 255);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 10045;
}

.modal__content--noSpace{
  padding: 0;
}

.modal__close {
  position : absolute;
  z-index : 1;
  padding : 0;
  color : $medium-gray;
  background-color : transparent;

  &:hover {
    color : $medium-dark-gray;
    background-color : transparent;
  }

  @media(max-width: $medium-screen) {
    top : 25px;
    right : 25px;
  }
  @media(min-width: $medium-screen) {
    top : 10px;
    right : 15px;
  }
}
