@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('../../public/fonts/icomoon.ttf?ozp9ca') format('truetype'),
    url('../../public/fonts/icomoon.woff?ozp9ca') format('woff'),
    url('../../public/fonts/icomoon.svg?ozp9ca#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;

  /* Better Font Rendering =========== */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1.4;
  speak: none;
  text-transform: none;
}

.icon-i_001_youtube:before {
  content: '\e600';
}

.icon-i_002_twitter:before {
  content: '\e601';
}

.icon-i_003_view_more:before {
  content: '\e602';
}

.icon-i_004_video_games:before {
  content: '\e603';
}

.icon-i_005_tv:before {
  content: '\e604';
}

.icon-i_006_to_mosaic:before {
  content: '\e605';
}

.icon-i_007_to_list:before {
  content: '\e606';
}

.icon-i_008_tickets:before {
  content: '\e607';
}

.icon-i_009_suggestion:before {
  content: '\e608';
}

.icon-i_010_sales:before {
  content: '\e609';
}

.icon-i_011_search:before {
  content: '\e60a';
}

.icon-i_012_return_product:before {
  content: '\e60b';
}

.icon-i_013_whishlist:before {
  content: '\e60c';
}

.icon-i_014_rate_02:before {
  content: '\e60d';
}

.icon-i_015_rate_01:before {
  content: '\e60e';
}

.icon-i_016_quotes:before {
  content: '\e60f';
}

.icon-i_017_postal_card:before {
  content: '\e610';
}

.icon-i_018_photos:before {
  content: '\e611';
}

.icon-i_019_phone_02:before {
  content: '\e612';
}

.icon-i_020_phone_01:before {
  content: '\e613';
}

.icon-i_021_ocb:before {
  content: '\e614';
}

.icon-i_022_newsletter:before {
  content: '\e615';
}

.icon-i_023_musics:before {
  content: '\e616';
}

.icon-i_024_message:before {
  content: '\e617';
}

.icon-i_025_menu:before {
  content: '\e618';
}

.icon-i_026_map:before {
  content: '\e619';
}

.icon-i_027_location:before {
  content: '\e61a';
}

.icon-i_028_list:before {
  content: '\e61b';
}

.icon-i_029_kids:before {
  content: '\e61c';
}

.icon-i_030_it:before {
  content: '\e61d';
}

.icon-i_031_home:before {
  content: '\e61e';
}

.icon-i_032_geolocalisation:before {
  content: '\e61f';
}

.icon-i_033_dvd:before {
  content: '\e620';
}

.icon-i_034_disconnect:before {
  content: '\e621';
}

.icon-i_035_delivery:before {
  content: '\e622';
}

.icon-i_036_curved_arrow_01:before {
  content: '\e623';
}

.icon-i_037_cross_03:before {
  content: '\e624';
}

.icon-i_038_cross_02:before {
  content: '\e625';
}

.icon-i_039_cross_01:before {
  content: '\e626';
}

.icon-i_040_credit_card:before {
  content: '\e627';
}

.icon-i_041_coup_de_coeur:before {
  content: '\e628';
}

.icon-i_042_clock_02:before {
  content: '\e629';
}

.icon-i_043_clock_01:before {
  content: '\e62a';
}

.icon-i_044_check_02:before {
  content: '\e62b';
}

.icon-i_045_check_01:before {
  content: '\e62c';
}

.icon-i_046_calendar:before {
  content: '\e62d';
}

.icon-i_047_delivery_box:before {
  content: '\e62e';
}

.icon-i_048_books:before {
  content: '\e62f';
}

.icon-i_049_basket:before {
  content: '\e630';
}

.icon-i_050_audio:before {
  content: '\e631';
}

.icon-i_051_article_view:before {
  content: '\e632';
}

.icon-i_052_arrow_top_02:before {
  content: '\e633';
}

.icon-i_053_arrow_top_01:before {
  content: '\e634';
}

.icon-i_054_arrow_right_02:before {
  content: '\e635';
}

.icon-i_055_arrow_right_01:before {
  content: '\e636';
}

.icon-i_056_arrow_left_02:before {
  content: '\e637';
}

.icon-i_057_arrow_left_01:before {
  content: '\e638';
}

.icon-i_058_arrow_bottom_02:before {
  content: '\e639';
}

.icon-i_059_arrow_bottom_01:before {
  content: '\e63a';
}

.icon-i_060_alerts:before {
  content: '\e63b';
}

.icon-i_061_add_to_basket:before {
  content: '\e63c';
}

.icon-i_062_account:before {
  content: '\e63d';
}

.icon-i_063_logo_fnac:before {
  content: '\e63e';
}

.icon-i_064_google_plus:before {
  content: '\e63f';
}

.icon-i_065_facebook:before {
  content: '\e640';
}

.icon-i_066_card_member:before {
  content: '\e641';
}

.icon-i_067_Dialog:before {
  content: '\e642';
}

.icon-i_068_Alert:before {
  content: '\e643';
}

.icon-i_069_Back:before {
  content: '\e644';
}

.icon-i_070_BurgerProduct:before {
  content: '\e645';
}

.icon-i_071_Calendar:before {
  content: '\e646';
}

.icon-i_072_Cart:before {
  content: '\e647';
}

.icon-i_073_Check:before {
  content: '\e648';
}

.icon-i_074_Compare:before {
  content: '\e649';
}

.icon-i_075_Download:before {
  content: '\e64a';
}

.icon-i_076_Eye:before {
  content: '\e64b';
}

.icon-i_077_Facebook:before {
  content: '\e64c';
}

.icon-i_078_Gift:before {
  content: '\e64d';
}

.icon-i_079_GooglePlus:before {
  content: '\e64e';
}

.icon-i_080_Help:before {
  content: '\e64f';
}

.icon-i_081_HelpBis:before {
  content: '\e650';
}

.icon-i_082_iPadiPhone:before {
  content: '\e651';
}

.icon-i_083_Like:before {
  content: '\e652';
}

.icon-i_084_List:before {
  content: '\e653';
}

.icon-i_085_Localisation:before {
  content: '\e654';
}

.icon-i_086_Mail:before {
  content: '\e655';
}

.icon-i_087_MapMarker:before {
  content: '\e656';
}

.icon-i_088_MapMarkerLogo:before {
  content: '\e657';
}

.icon-i_089_Newsletter:before {
  content: '\e658';
}

.icon-i_090_Order:before {
  content: '\e659';
}

.icon-i_090_Paypal:before {
  content: '\e65a';
}

.icon-i_091_Pictures:before {
  content: '\e65b';
}

.icon-i_092_Play:before {
  content: '\e65c';
}

.icon-i_093_Profil:before {
  content: '\e65d';
}

.icon-i_094_Reload:before {
  content: '\e65e';
}

.icon-i_095_Search:before {
  content: '\e65f';
}

.icon-i_096_Share:before {
  content: '\e660';
}

.icon-i_097_Star:before {
  content: '\e661';
}

.icon-i_098_Tickets:before {
  content: '\e662';
}

.icon-i_099_Versus:before {
  content: '\e663';
}

.icon-i_100_voucher:before {
  content: '\e664';
}

.icon-i_101_bubble_talk:before {
  content: '\e665';
}

.icon-i_102_check_03:before {
  content: '\e666';
}

.icon-i_103_sortBy:before {
  content: '\e667';
}

.icon-i_105_home_kitchen:before {
  content: '\e668';
}

.icon-i_106_relay:before {
  content: '\e669';
}

.icon-i_107_dislike:before {
  content: '\e66a';
}

.icon-i_108_plus:before {
  content: '\e66b';
}

.icon-i_109__minus:before {
  content: '\e66c';
}

.icon-i_110_Heart_Empty:before {
  content: '\e66d';
}

.icon-i_111_lock:before {
  content: '\e66e';
}

.icon-i_112_Fnac_Store:before {
  content: '\e66f';
}

.icon-i_113_Retrait_1H:before {
  content: '\e670';
}

.icon-i_114_checkbox:before {
  content: '\e671';
}

.icon-i_115_checkbox_check:before {
  content: '\e672';
}

.icon-i_116_arobase:before {
  content: '\e673';
}

.icon-i_117_lock:before {
  content: '\e674';
}

.icon-i_118_oops:before {
  content: '\e675';
}

.icon-i_119_Heart_Full:before {
  content: '\e676';
}

.icon-i_120_MapMarker:before {
  content: '\e677';
}

.icon-i_121_Alert:before {
  content: '\e678';
}

.icon-i_122_Dot:before {
  content: '\e679';
}

.icon-i_123_Cross:before {
  content: '\e67a';
}

.icon-i_124_trash:before {
  content: '\e67b';
}

.icon-i_125_clock_04:before {
  content: '\e67c';
}

.icon-i_126_Fnac_Card_Back:before {
  content: '\e67d';
}

.icon-i_127_Fnac_Card:before {
  content: '\e67e';
}

.icon-i_128_Fnac_Fnac_Store:before {
  content: '\e67f';
}

.icon-i_129_Fnac_Call_Center:before {
  content: '\e680';
}

.icon-i_130_Fnac_Money_Back:before {
  content: '\e681';
}

.icon-i_131_fnac-confiance:before {
  content: '\e682';
}

.icon-i_132_certified-sellers:before {
  content: '\e683';
}

.icon-i_133_edit:before {
  content: '\e684';
}

.icon-i_134_MapMarker_02:before {
  content: '\e685';
}

.icon-i_135_delivery_02:before {
  content: '\e686';
}

.icon-i_136_instagram:before {
  content: '\e687';
}

.icon-i_137_pinterest:before {
  content: '\e688';
}

.icon-i_138_linkedin:before {
  content: '\e689';
}

.icon-i_139_MapMarker_03:before {
  content: '\e68a';
}

.icon-i_140_suggestion_02:before {
  content: '\e68b';
}

.icon-i_141_horloge:before {
  content: '\e68c';
}

.icon-i_142_livre:before {
  content: '\e68d';
}

.icon-i_143_ticketing:before {
  content: '\e68e';
}

.icon-i_144_expressplus:before {
  content: '\e68f';
}

.icon-i_145_Dialog:before {
  content: '\e690';
}

.icon-i_146_panier-3:before {
  content: '\e691';
}

.icon-i_147_camion2:before {
  content: '\e692';
}

.icon-i_148_Fnac_Package:before {
  content: '\e693';
}

.icon-i_149_Fnac_RelaisColis:before {
  content: '\e900';
}

.icon-i_150_Fnac_Call_Center:before {
  content: '\e695';
}

.icon-i_152_Fnac_Star_Empty:before {
  content: '\e696';
}

.icon-i_153_Fnac_Tickets:before {
  content: '\e697';
}

.icon-i_154_tags:before {
  content: '\e698';
}

.icon-i_155_tool:before {
  wo: '\e699';
}

.icon-i_156_booknote:before {
  content: '\e69a';
}

.icon-i_157_cheques:before {
  content: '\e69b';
}

.icon-i_158_arrow_right_fat:before {
  content: '\e69c';
}

.icon-i_159_toto:before {
  content: '\e69d';
}

.icon-i_160_starbasket:before {
  content: '\e69e';
}

.icon-i_161_tablet:before {
  content: '\e69f';
}

.icon-i_162_ebookreader:before {
  content: '\e6a0';
}

.icon-i_163_smartphone:before {
  content: '\e6a1';
}

.icon-i_164_desktop:before {
  content: '\e6a2';
}

.icon-i_165_express_plus:before {
  content: '\e6a3';
}

.icon-i_165_pastille_moins5:before {
  content: '\e6a4';
}

.icon-i_166_plane:before {
  content: '\e6a5';
}

.icon-i_167_phone_in:before {
  content: '\e6a6';
}

.icon-i_168_phone_out:before {
  content: '\e6a7';
}

.icon-i_169_user_tie:before {
  content: '\e6a8';
}

.icon-i_170_truck:before {
  content: '\e6a9';
}

.icon-i_171_return_and_after_sale:before {
  content: '\e6aa';
}

.icon-i_172_ticket_large:before {
  content: '\e6ab';
}

.icon-i_173_partner_sellers:before {
  content: '\e6ac';
}

.icon-i_174_scooter:before {
  content: '\e6ad';
}

.icon-i_175_gift:before {
  content: '\e901';
}

.icon-i_191_card_fnacplus:before {
  content: '\e902';
}

.icon-i_192_Fnac_card-adherent:before {
  content: '\e903';
}

.icon-i_193_Fnac_delivery:before {
  content: '\e904';
}

.icon-i_194_Fnac_Card_PT:before {
  content: '\e905';
}

.icon-i_195_ampoule:before {
  content: '\e906';
}

.icon-i_196_books:before {
  content: '\e907';
}

.icon-i_197_fnacplus:before {
  content: '\e908';
}

.icon-i_198_gift:before {
  content: '\e909';
}

.icon-i_199_livraisongratuite:before {
  content: '\e90a';
}

.icon-i_200_venteflash:before {
  content: '\e90b';
}

.icon-i_201_darty:before {
  content: '\e90c';
}

.icon-i_202_10euro:before {
  content: '\e90d';
}

.icon-i_203_blackfriday:before {
  content: '\e90e';
}

.icon-i_204_magasin:before {
  content: '\e90f';
}

.icon-i_205_afficher:before {
  content: '\e910';
}

.icon-i_206_cacher:before {
  content: '\e911';
}

.icon-i_207_kids:before {
  content: '\e912';
}

.icon-i_208_pro:before {
  content: '\e913';
}

.icon-i_210_minus:before {
  content: '\e914';
}

.icon-i_211_plus:before {
  content: '\e915';
}

.icon-i_212_fnacphoto:before {
  content: '\e916';
}

.icon-i_213_woman:before {
  content: '\e917';
}

.icon-i_215_baby:before {
  content: '\e918';
}

.icon-i_216_shoe:before {
  content: '\e919';
}

.icon-i_217_bag:before {
  content: '\e91a';
}

.icon-i_218_pourcentage:before {
  content: '\e91b';
}

.icon-i_218_retailstore:before {
  content: '\e91c';
}

.icon-i_219_resell:before {
  content: '\e91d';
}

.icon-i_220_retailstore:before {
  content: '\e91e';
}

.icon-i_221_download-1clic:before {
  content: '\e91f';
}

.icon-i_222_available-circle:before {
  content: '\e920';
}

.icon-i_223_unavailable-circle:before {
  content: '\e921';
}

.icon-i_224_soon-circle:before {
  content: '\e922';
}

.icon-i_225_store:before {
  content: '\e923';
}

.icon-i_226_laboFnac:before {
  color: #000000;
  content: '\e924';
}

.icon-i_227_wifi:before {
  content: '\e925';
}

.icon-i_228_heart:before {
  content: '\e926';
}

.icon-i_229_musicnote:before {
  content: '\e927';
}

.icon-i_230_synchro-deezer:before {
  content: '\e928';
}

.icon-i_231_ticket:before {
  content: '\e929';
}

.icon-i_232_filters:before {
  content: '\e92a';
}

.icon-i_233_cineSeries:before {
  content: '\e92b';
}

.icon-i_233_photo:before {
  content: '\e92c';
}

.icon-i_234_fnacEvents:before {
  content: '\e92d';
}

.icon-i_235_highTech:before {
  content: '\e92e';
}

.icon-i_236_jeuxVideo:before {
  content: '\e92f';
}

.icon-i_237_kids:before {
  content: '\e930';
}

.icon-i_238_livres:before {
  content: '\e931';
}

.icon-i_239_maisonCuisine:before {
  content: '\e932';
}

.icon-i_240_musique:before {
  content: '\e933';
}

.icon-i_241_sortir:before {
  content: '\e934';
}

.icon-i_242_sport:before {
  content: '\e938';
}

.icon-i_243_bricoJardin:before {
  content: '\e939';
}

.icon-i_244_heart:before {
  content: '\e93a';
}

.icon-i_245_casierFacture:before {
  content: '\e93b';
}

.icon-i_246_devis:before {
  content: '\e93d';
}

.icon-i_247_QandA:before {
  content: '\e93e';
}

.icon-i_248_wishlist:before {
  content: '\e93f';
}

.icon-i_249_settings:before {
  content: '\e940';
}

.icon-i_250_Retrait_2H:before {
  content: '\e941';
}

.icon-i_251_smile:before {
  content: '\e942';
}

.icon-i_252_pro:before {
  content: '\e943';
}

.icon-i_253_rules:before {
  content: '\e944';
}

.icon-i_254_devis:before {
  content: '\e945';
}

.icon-i_255_lock:before {
  content: '\e946';
}

.icon-i_256_marker_spain:before {
  content: '\e947';
}

.icon-i_258_event:before {
  content: '\e948';
}

.icon-i_259_pin:before {
  content: '\e949';
}
