fieldset {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

legend {
  margin-bottom: $small-spacing / 2;
  padding: 0;
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: $small-spacing / 2;
  font-weight: 600;
}

input, select, textarea {
  display: block;
  height: 32px;
  font-family: $base-font-family;
  font-size: 14px;
  border: 1px solid $light-gray;
  border-radius: $base-border-radius;
}

#{$all-text-inputs} {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: $small-spacing;
  padding: $base-spacing / 3;
  transition: border-color $base-duration $base-timing;
  border: $base-border;
  border-radius: $base-border-radius;
  background-color: $base-background-color;

  appearance: none;

  &:hover {
    border-color: shade($base-border-color, 20%);
  }

  &:focus {
    border-color: $medium-gray;
    outline: none;
    box-shadow: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: shade($base-background-color, 5%);

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: tint($base-font-color, 40%);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"], [type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

[type="file"] {
  width: 100%;
  margin-bottom: $small-spacing;
}

select {
  width: 100%;
  margin-bottom: $small-spacing;
}
