// Breakpoints
$medium-screen: 640px;
$large-screen: 1024px;
$x-large-screen: 1280px;
// Typography
$base-font-family: 'Roboto', 'Lato', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$turquoise: #27afbf;
$cyan: #2ac3ee;
$blue-light: #00bc98;
$blue: #1565c0;
$bluefacebook: #3b5998;
$white: #fff;
$black: #232323;
$orange: #f5b027;
$darker-white: #fafafa;
$lighter-gray: #f2f2f2;
$light-gray: #d8d8d8;
$medium-gray: #989898;
$medium-dark-gray: #777;
$dark-gray: #333;
$dark: #5f5f5f;
$purple: #612877;
$green: #5c9a03;
$green-dark: #98c0b1;
$red: #d5291f;
$yellow: #f9d821;
$fnac-plus: #4bc7e1;
$book5pc: #09b643;
$paypal: #24516f;
$partner-orange: #ff6600;
// Font Colors
$base-font-color: $dark-gray;
$action-color: $orange;
$wine: #ba052e;
$winelight: #d51937;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 375ms;
$base-timing: ease;

// Padding
$base-padding: 20px;
$base-desktop-padding: 30px;
