@import './_base-pure';

body > img {
  display: none;
}

body > iframe {
  display: none;
}

::selection {
  background: #efbb35; /* WebKit/Blink Browsers */
  color: white;
}

::-moz-selection {
  background: #efbb35; /* Gecko Browsers */
  color: white;
}

// Hack for header flickering
.Header-kiss .Header,
.loginHeader,
.header {
  display: block;
}

.Overlay {
  z-index: 100;
}

.fnac-loader {
  display: none;
}

.app__container {
  display: table;
  width: 100%;
  max-width: 1280px;
  padding: $base-padding / 2;
  padding-top: 50px;
  margin: 0 auto;
  background: $lighter-gray;
  table-layout: fixed;

  @media (min-width: $large-screen) {
    min-height: 860px;
    padding: $base-padding;
  }

  &.app__container--banner {
    padding-top: 88px;

    @media (min-width: $large-screen) {
      padding-top: 80px;
    }
  }
}

.page {
  margin-top: 80px;

  @media (min-width: $large-screen) {
    margin-top: 70px;
  }

  .app__container--mobileapp & {
    margin-top: 40px;
  }

  .app__container--banner & {
    margin-top: 90px;
  }
}

.page__shipping {
  margin-top: 0;

  @media (min-width: $large-screen) {
    margin-top: 70px;
  }

  .app__container--mobileapp & {
    margin-top: 10px;
  }
}

.page__shipping-home {
  margin-top: 10px;

  @media (min-width: $large-screen) {
    margin-top: 70px;
  }
}

.page__summary {
  position: relative;
  width: 100%;

  @media (min-width: $large-screen) {
    position: fixed;
    top: 110px;
    right: 20px;
    left: auto;
    width: 320px;
  }

  @media (min-width: 1300px) {
    left: calc(50% + 300px);
  }
}

.page__content {
  width: 100%;

  @media (min-width: $large-screen) {
    padding-top: 40px;
    padding-right: 350px;
  }
}

.ReactModal__Body--open {
  overflow: hidden;

  @media (max-width: $medium-screen) {
    position: fixed;
  }
}
